.categories{
    width: 0vh ;
    max-height: 100vh; /* Maksymalna wysokość kontenera kategorii */
    overflow-y: auto;
    overflow-x: hidden; 
    scrollbar-width: none;
    border: 1px solid black;
    visibility: hidden;
    display: none;
    top: 100%;
    position: absolute;
    background-color: silver;
    z-index: 100;
}
.category{
    width: auto;
    height: 9vh;
    border-bottom: 1px solid black;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 100;
}
.last{
    border-bottom: 0px solid black;
    z-index: 100;
}
header{
    position: relative;
    height: 5vh;
    width: 100% ;
    background-color: dimgray;
}
#menu{
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translate(0,-50%);
    height: 3vh;
    width: 3vh;
}
body{
    background-color: gray;
    margin: 0;
    padding: 0;
    border: 0;
}
.category-img {
    width: 6vh;
    height: 6vh;
    margin-right: 3vh; /* Dodaj odstęp między obrazkiem a tekstem */
    margin-left: 2vh;
}
  
.category-text {
    font-size: large;
}
.subcategories{
    display: none;
}
.subcategory{
    width: auto;
    height: 0vh;
    border-bottom: 1px solid black;
    position: relative;
    display: flex;
    align-items: center;
    background-color: springgreen;
}
.subcategory-img {
    width: 3vh;
    height: 3vh;
    margin-right: 3vh; /* Dodaj odstęp między obrazkiem a tekstem */
    margin-left: 2vh;
}
  
.subcategory-text {
    font-size: medium;
}
.main-block{
    width: auto;
    height: auto;
    z-index: 1;
    margin-left: 7vh;
    margin-right: 7vh;
}
.best-products, .new-products,.liked-products{
    background-color: black;
    position: relative;
    z-index: 2;
    margin: 3vh;
    padding: 2vh;
    overflow: hidden;
    display: flex;
}
.wrapped{
    display: flex;
}
.product{
    display: flex;
    justify-content: center;
    background-color: red;
    width: 25vh;
    height: 35vh;
    z-index: 3;
    margin-right: 4vh;
}
.product-img{
    padding:5vh;
}